@tailwind base;
@tailwind components;
@tailwind utilities;

/* RED SCANNER LINE ANIMATION */
@keyframes scanLine {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.animate-scan-line {
  animation: scanLine 2s linear infinite;
  position: absolute;
}

/* ACCESS GRANTED BLINK */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

/* PULSE FOR IRIS */
@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 10px #4b5563, inset 0 0 10px #4b5563;
  }
  50% {
    box-shadow: 0 0 2px #1f2937, inset 0 0 2px #1f2937;
  }
}

.pulse-glow {
  animation: pulseGlow 3s ease-in-out infinite;
}
@layer utilities {
  .animate-glow {
    animation: glow 2s ease-in-out infinite;
  }

  .animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* 
body{
   background: linear-gradient(135deg, #ff6ec4, #7873f5, #47e3ff);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  min-height: 100vh;
} */